# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#ignorando todos os arquivos .class
*.class

#ignorando arquivos .idea e .iml
.idea/
*.iml
.vscode/